<nav class="navbar navbar-default navbar-fixed-top container-fluid">
  <div class="anything">
    <div class="chillClass"></div>
    <div class="container">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#codebrainery-toggle-nav" aria-expanded="false">
          </button>
      <div><a class="navbar-brand" href="../index.html">Phil Proft</a></div>
      <div><a class="navbar" href="#aboutMe">About Me</a></div>
      <div><a class="navbar" href="../index.html">My Projects</a></div>
      <div><a class="navbar" href="../index.html">Phil Proft</a></div>
    </div>
  </div>
</nav>